<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p><%= image_tag @article.image.url(:medium) %></p>
<p><%= @article.body %></p>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to "<< Back to Articles List", articles_path%>
<%= link_to "Delete", article_path(@article), method: :delete,
                    data: {confirm: "Really delete the article?"} %>
<%= link_to "Edit", edit_article_path(@article) %>